In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 55.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=8cc8dcf6cb3250dccb72768f0c90f66a73308241a871e065dc26bd0e391d1995
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
import pyspark

In [ ]:
import pandas as pd
pandas_df = pd.read_csv('MyFriends_Ages1.csv')
type(pandas_df)

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('MyFriends_Ages1.csv')
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|Pankhuri| 23|
|   Nitin| 23|
|   Tanya| 23|
| Aanchal| 23|
+--------+---+

In [ ]:
df_pyspark = spark.read.option('header','true').csv('MyFriends_Ages1.csv')
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='Pankhuri', Age='23'),
 Row(Name='Nitin', Age='23'),
 Row(Name='Tanya', Age='23')]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [ ]:
df_pyspark = spark.read.option('header','true').csv('Dataset-1.csv',inferSchema=True)

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.head(3)

[Row(Name='Nitin', Age=23, Experience=3),
 Row(Name='Tanya', Age=23, Experience=2),
 Row(Name='Pankhuri', Age=23, Experience=2)]

In [ ]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Nitin| 23|         3|
|   Tanya| 23|         2|
|Pankhuri| 23|         2|
+--------+---+----------+

In [ ]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|   Nitin|
|   Tanya|
|Pankhuri|
+--------+

In [ ]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Nitin|         3|
|   Tanya|         2|
|Pankhuri|         2|
+--------+----------+

In [ ]:
df_pyspark.dtypes
#to show to datatypes of the columns

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+-----+----+------------------+
|summary| Name| Age|        Experience|
+-------+-----+----+------------------+
|  count|    3|   3|                 3|
|   mean| null|23.0|2.3333333333333335|
| stddev| null| 0.0|0.5773502691896258|
|    min|Nitin|  23|                 2|
|    max|Tanya|  23|                 3|
+-------+-----+----+------------------+

In [ ]:
### Adding new columns
df_pyspark = df_pyspark.withColumn('Experience after 2 years',df_pyspark['Experience']+2)

In [ ]:
df_pyspark.show()

+--------+---+----------+------------------------+
|    Name|Age|Experience|Experience after 2 years|
+--------+---+----------+------------------------+
|   Nitin| 23|         3|                       5|
|   Tanya| 23|         2|                       4|
|Pankhuri| 23|         2|                       4|
+--------+---+----------+------------------------+

In [ ]:
##Drop the column
df_pyspark = df_pyspark.drop('Experience after 2 years')

In [ ]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Nitin| 23|         3|
|   Tanya| 23|         2|
|Pankhuri| 23|         2|
+--------+---+----------+

In [ ]:
df_pyspark = df_pyspark.withColumnRenamed('Name','New Name')

In [ ]:
df_pyspark.show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Nitin| 23|         3|
|   Tanya| 23|         2|
|Pankhuri| 23|         2|
+--------+---+----------+

In [ ]:
##Handling Missing Values
df_pyspark = spark.read.csv('MissingValuesDataset.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 24000|
|    Sunny|  29|         4| 20000|
|     Paul|  28|         3| 18000|
|   Harsha|  27|         5| 15000|
|  Shubham|  26|         9| 26000|
|   Mahesh|null|      null| 10000|
|     null|  34|        10| 40000|
|     null|  36|      null| 38000|
+---------+----+----------+------+

In [ ]:
#Drop the column
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 24000|
|  29|         4| 20000|
|  28|         3| 18000|
|  27|         5| 15000|
|  26|         9| 26000|
|null|      null| 10000|
|  34|        10| 40000|
|  36|      null| 38000|
+----+----------+------+

In [ ]:
#to delete all the null values in the dataset
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 24000|
|    Sunny| 29|         4| 20000|
|     Paul| 28|         3| 18000|
|   Harsha| 27|         5| 15000|
|  Shubham| 26|         9| 26000|
+---------+---+----------+------+

In [ ]:
## If a row has all the nulls then only it will get dropped
df_pyspark.na.drop(how="all").show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 24000|
|    Sunny|  29|         4| 20000|
|     Paul|  28|         3| 18000|
|   Harsha|  27|         5| 15000|
|  Shubham|  26|         9| 26000|
|   Mahesh|null|      null| 10000|
|     null|  34|        10| 40000|
|     null|  36|      null| 38000|
+---------+----+----------+------+

In [ ]:
## Gonna drop any number of nulls
df_pyspark.na.drop(how="any").show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 24000|
|    Sunny| 29|         4| 20000|
|     Paul| 28|         3| 18000|
|   Harsha| 27|         5| 15000|
|  Shubham| 26|         9| 26000|
+---------+---+----------+------+

In [ ]:
## If we have atleast 2 or more non-null values, it is going to keep it otherwise delete that row.
df_pyspark.na.drop(how="any",thresh=2).show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 24000|
|    Sunny|  29|         4| 20000|
|     Paul|  28|         3| 18000|
|   Harsha|  27|         5| 15000|
|  Shubham|  26|         9| 26000|
|   Mahesh|null|      null| 10000|
|     null|  34|        10| 40000|
|     null|  36|      null| 38000|
+---------+----+----------+------+

In [ ]:
## To remove null values from a specific column(the whole row will get deleted)
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 24000|
|    Sunny| 29|         4| 20000|
|     Paul| 28|         3| 18000|
|   Harsha| 27|         5| 15000|
|  Shubham| 26|         9| 26000|
|     null| 34|        10| 40000|
+---------+---+----------+------+

In [ ]:
df_pyspark.na.fill("Missing",'Experience').show()

+---------+----+----------+------+
|     Name| Age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 24000|
|    Sunny|  29|         4| 20000|
|     Paul|  28|         3| 18000|
|   Harsha|  27|         5| 15000|
|  Shubham|  26|         9| 26000|
|   Mahesh|null|      null| 10000|
|     null|  34|        10| 40000|
|     null|  36|      null| 38000|
+---------+----+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
).setStrategy("mean")

In [ ]:
## Add imputation column to the dataframe
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 24000|         30|                 8|         24000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  28|         3| 18000|         28|                 3|         18000|
|   Harsha|  27|         5| 15000|         27|                 5|         15000|
|  Shubham|  26|         9| 26000|         26|                 9|         26000|
|   Mahesh|null|      null| 10000|         30|                 7|         10000|
|     null|  34|        10| 40000|         34|                10|         40000|
|     null|  36|      null| 38000|         36|                 7|         38000|
+---------+----+----------+------+-----------+------------------+--------------+

In [ ]:
### FILTER OPERATIONS
df_pyspark = spark.read.csv('FilterOperations.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
## Filter the rows which have salary less than or equal to 20000
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [ ]:
df_pyspark.filter(df_pyspark["Salary"]>=20000).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
+---------+---+----------+------+

In [ ]:
df_pyspark.filter((df_pyspark["Salary"]>=20000) & (df_pyspark["Salary"]<=30000)).show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
+---------+---+----------+------+

In [ ]:
#Not Operation
df_pyspark.filter(~(df_pyspark["Salary"]>=20000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
## PYSPARK GROUP BY AND AGGREGATE FUNCTIONS
df_pyspark = spark.read.csv('GroupByAndAggregateFunctions.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|Salary|
+---------+------------+------+
|    Krish| DataScience| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT|  6000|
|    Sunny|    Big Data|  8000|
+---------+------------+------+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
## GroupBy Operations
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      26000|
|    Sunny|       8000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [ ]:
## Group by department to see which department gets the maximum salary
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------------+
| Departments|      avg(Salary)|
+------------+-----------------+
|         IOT|           5500.0|
|    Big Data|5333.333333333333|
|Data Science|          11500.0|
| DataScience|          10000.0|
+------------+-----------------+

In [ ]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    2|
| DataScience|    1|
+------------+-----+

In [ ]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      60000|
+-----------+

In [ ]:
df_pyspark.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|       8000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [ ]:
df_pyspark.groupBy('Name').avg().show()

+---------+-----------------+
|     Name|      avg(Salary)|
+---------+-----------------+
|Sudhanshu|          13000.0|
|    Sunny|           8000.0|
|    Krish|6333.333333333333|
|   Mahesh|           3500.0|
+---------+-----------------+

In [ ]:
## Predicting the Salary based on 2 columns Age and Experience
training = spark.read.csv('LinearRegression.csv',header=True,inferSchema=True)

In [ ]:
training.show()

+---------+---+----------+------+
|    Name |Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
training.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
training.columns

['Name ', 'Age', 'Experience', 'Salary']

In [ ]:
## Grouping the Age and Experience and making them as a new feature which will be treated as independent feature
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age","Experience"],outputCol="Independent feature")

In [ ]:
output = featureassembler.transform(training)

In [ ]:
output.columns

['Name ', 'Age', 'Experience', 'Salary', 'Independent feature']

In [ ]:
output.show()

+---------+---+----------+------+-------------------+
|    Name |Age|Experience|Salary|Independent feature|
+---------+---+----------+------+-------------------+
|    Krish| 31|        10| 30000|        [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|         [30.0,8.0]|
|    Sunny| 29|         4| 20000|         [29.0,4.0]|
|     Paul| 24|         3| 20000|         [24.0,3.0]|
|   Harsha| 21|         1| 15000|         [21.0,1.0]|
|  Shubham| 23|         2| 18000|         [23.0,2.0]|
+---------+---+----------+------+-------------------+

In [ ]:
finalized_data = output.select('Salary','Independent feature')

In [ ]:
finalized_data.show()

+------+-------------------+
|Salary|Independent feature|
+------+-------------------+
| 30000|        [31.0,10.0]|
| 25000|         [30.0,8.0]|
| 20000|         [29.0,4.0]|
| 20000|         [24.0,3.0]|
| 15000|         [21.0,1.0]|
| 18000|         [23.0,2.0]|
+------+-------------------+

In [ ]:
from pyspark.ml.regression import LinearRegression
## train test split
train_data, test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol="Independent feature",labelCol="Salary")
regressor = regressor.fit(train_data)

In [ ]:
### Coefficients
regressor.coefficients

DenseVector([-64.8464, 1584.7554])

In [ ]:
regressor.intercept

15414.10693970355

In [ ]:
## Prediction
pred_results = regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

+------+-------------------+------------------+
|Salary|Independent feature|        prediction|
+------+-------------------+------------------+
| 20000|         [24.0,3.0]|18612.059158134216|
+------+-------------------+------------------+